* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
    background-color: whitesmoke;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

p {
    background-color: blueviolet;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: white;
}

button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#incrementar {
    background-color: brown;
}

#disminuir {
    background-color:coral;
}