* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
}

h1 {
    font-size: 40px;
}

p {
    background-color: blueviolet;
    padding: 1rem;
    font-size: 2rem;
}